
@media(max-width: 1100px){
header ,
header nav,
nav,
header nav li,
section,
.grid_table,
a,

a.element_footer
{
    float:none;
    text-align:center;
    width:100%;
    font-size: 1.1em;
    margin:0 auto;
}


header{
    height: 120px;
}
    a.element_nav,a.element_nav1,a.element_nav2,a.element_nav3{
          height: 60px;
          text-align: left;
          margin: 10px;
          width: 83%;
          color:#464646;
      }

    a.element_nav :link,
    a.element_nav:visited {
        color: #464646;
        border: 1px solid #ffffff;
        width: auto;
    }

    a.element_footer{
        height: 80px;
        font-size: 1.3em;
        margin: 5px;
        text-align: left;
    }


    button.subscribe,.subscribe_wrap, input
    {
        display: block;
        float:none;
        width: 100%;
        margin:0 auto;
        height:80px;
        margin-top:10px;
        font-size: 26px;
    }

    .slideshow-home{
        padding-bottom: 25px;
    }

    .subscribe_panel
    {
        width: 100%;
        height: 250px;
        padding:25px;
    }

    input, select, textarea {
        font-size: 28px;

    }

    .header_wrapper{
        display:block;
    }
    a.btn_sign_up:link,
    a.btn_sign_up:visited
    {
        border-color: : #F9A602;
        border-style: solid;
        width:220px;
        margin:0 auto;
        margin-bottom: 15px;
    }

    a.btn_sign_up:hover {
         background-color: #F9A602;
        -o-transition: .2s;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        transition: .2s;
        transition: .2s;
        transform: scale(1.0, 1.09);
    }

    .btn_page_up {
        font-family: sans-serif;
        background: rgba(0, 0, 0, 0.88);
        width: 20%;
        float: right;
        height: 70px;
        box-shadow: none;
    }

    .topnav {
        overflow: hidden;
        background-color: rgb(255, 252, 249);
        margin:0;
        padding: 0;
        box-shadow: none;
    }

    .topnav a {
        float: left;
        display: block;
        color: #464646;
        background-color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        margin-left: 70px;
    }

    .topnav a:hover {
        color: #757575;
    }

    .topnav .icon {
        text-align: left;
        display: none;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        background: black;
    }

    a.icon{
        visibility:visible;
    }
    #boxes{
        margin-top:20px;
        padding-bottom: 0;
    }


    #boxes .box{
        float:none;
        text-align: center;
        width:100%;
        padding:10px;
    }

    #boxes .box img{
        width:500px;
    }
    footer {
        box-shadow: 0 0 5px #888888;
        padding-top: 50px;
        padding-left: 48px;
        height: 750px;
        background-color: #8bc1e9;
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        clear: both;
    }
    #wrapper_footer {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 0;
        text-align:left;
        width: 100%;
    }
    #wrapper_nav {
        margin:0;
    }

    section {
        padding-top: 10px;
        position: relative;
        padding-left: 48px;
        padding-right: 48px;
        margin:0 auto;
        overflow: auto;
        height: auto;
        width: 100%;
        background-color: #d1d1d1;
        padding-bottom: 850px;
        box-shadow: 0 0 1px #888888;
    }
    .img-detail img{
        overflow: hidden;
        width: 100%;
        height:auto;
        float: none;
        margin: 5px;
        magin:0 auto;
    }


}
