* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ffffff;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  font-family: impact;
  color: white;
}

.html {width: 70%; background-color: #2f2f2f;}
.css {width: 70%; background-color: #2f2f2f;}
.js {width: 75%; background-color: #000000;}
.php {width: 50%; background-color: #808080;}
</style>
