@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

.w3-display-left{
    position:absolute;top:50%;left:0%;
    transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%);
    width:45px;height:150px
}

.w3-display-right{
    position:absolute;top:50%;right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);width:45px;height:150px
}

.w3-black,.w3-hover-black:hover{
    color: rgba(11, 32, 39, 0.38);
    background-color: rgba(18, 18, 18, 0.34)
}

.w3-button:hover{
    color: rgba(72, 165, 183, 0.69);
    background-color: rgba(72, 165, 183, 0.77)
}

.header_wrapper{
    width: 100%;
}

/* Subscribe section */

.subscribe_panel {
    padding: 35px;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
}

.subscribe_wrapper {
    float: right;
    width: 100%;
}


input {
    border-radius: 5px;
    height: 60px;
    width: 30%;
    margin: 10px;
    padding: 5px;
    color: #8e8e8e;
    font-size: 26px;
    font-family:sans-serif;
}

button.subscribe {
    margin-right: 20px;
    border-radius: 5px;
    height: 60px;
    width: 15%;
    margin: 10px;
    background: #45d3ca;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 26px;
    font-family: "Birch Std",SansSerif;
}

button.subscribe:hover {
    color: white;
    background: #45d3ca;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #dcdcdc;
    margin: 1em 0;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    background-size: cover;
    background-image: url("http://www.solidbackgrounds.com/images/2560x1440/2560x1440-white-solid-color-background.jpg");
}

#wrapper_footer {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 0;
    width: 100%;
}

#wrapper_nav {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    margin-top: 6px;
    display: inline-block
}

nav {
    box-shadow: 0 3px 0 0 #888888;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    background-color:black;
    top: 0;
    clear: both;
    width: 100%;
    transition: top 0.2s ease-in-out;
    padding-bottom: 5px;
}

header {
    /*background-image: url("https://edge.alluremedia.com.au/m/l/2017/06/iStock-612641754.jpg");*/
    /*background-size: cover;*/
    background: #8bc1e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #8bc1e9, #b36de6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #7f51e6, #b36de6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #7f51e6, #b36de6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #8bc1e9, #8ddee9); /* Standard syntax (must be*/
    height: 250px;
    position: relative;
    overflow: hidden;
    clear: both;
    width: 100%;
}
a.icon{
    visibility:hidden;
}

footer {
    box-shadow: 0 3px 5px #888888;
    padding-top: 50px;
    padding-bottom:50px;
    height: 370px;
    background-color: #8bc1e9;
    position: absolute;
    width: 100%;
    right: 0;
    bottom:0;
    left: 0;
    overflow: hidden;
    clear: both;
}

#container {
    min-height: 100%;
    width: 80%;
    height: auto;
    position: relative;
    margin: 0;
}

.zoom {
    zoom: 67%;
}

body {
    position: relative;
    height: auto;
}



section {
    padding-top: 50px;
    position: relative;
    padding-left: 48px;
    padding-right: 48px;
    margin:0 auto;
    overflow: auto;
    height: auto;
    width: 100%;
    background-color: #fefefe;
    /*background-image: url("../pics/bg.jpg");*/
    /*background-repeat: no-repeat;*/
    padding-bottom: 370px;
    box-shadow: 0 0 10px #888888;
}

a.btn_sign_up:link,
a.btn_sign_up:visited {
    background-color: #45d3ca;
    float:right;margin-right:150px;
    color:white;
    padding:10px;
    padding-top: 25px;
    width:220px;
    height:80px;
}

a.btn_sign_up:hover {
    background-color: #99d5c6;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
    transition: .2s;
    transform: scale(1.0, 1.09);
}

a.element_nav :link,
a.element_nav:visited {
    color: #fffcf9;
    border: 1px solid #ffffff;
    background:#8BC1E9;
}


a.element_nav:hover,
a.element_nav:active {
    /*box-shadow: 2px 4px 4px 1px #888888;*/
    border-bottom: 1px solid red;
    color: rgba(255, 13, 74, 0.99);
    opacity: .90;
    transition: .2s;
}

a.element_nav1:hover,
a.element_nav1:active {
    border-bottom: 1px solid yellowgreen;
    opacity: .90;
    color: #7fa829;
    transition: .2s;
}

a.element_nav2:hover,
a.element_nav2:active {
    border-bottom: 1px solid #2eb1b0;
    opacity: .90;
    color: #2eb1b0;
    transition: .2s;
}

a.element_nav3:hover,
a.element_nav3:active {
    border-bottom: 1px solid #e3d52e;
    opacity: .90;
    color: #f9c011;
    transition: .2s;
}

a.items_home:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a.element_footer:link,
a.element_footer:visited {
    color: white;
    margin:0 auto;
    border: 0 solid #ffffff;

}



a.element_footer:hover,
a.element_footer:active
{
    text-decoration: underline;
    color: rgba(255, 252, 249, 1);

}

a:link,
a:visited {
    overflow: hidden;
    font-weight: lighter;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 0;
    opacity: .90;
    font-size: large;
    color: #fffef6;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'impact', sans-serif;
    bottom: 1px;
    word-spacing: 8px;
    font-size: 1.8em;
    margin-left: 10px;
}

a:hover,
a:active {
    opacity: 1.0;
    color: #fbfbff;
}


/*Typography ADJUSTMENTS*/

h1 {
    color: white;
    font-weight: bold;
    padding: 25px;
    font-family: 'legreya', sans-serif;
}

h2 {
    color: white;
    font-family: lato;
    margin-left: 2%
}

h3 {
    color: black;
    padding: 10px;
}

h5 {
    color: #918e95;
}

p {
    color: #3b3b3c;
    font-family: 'open-sans-n4','open-sans',sans-serif;
    font-size: 18pt;
    line-height: 1.6;
    text-align: left;
    margin: 10px;
}

p.aboutus_desc {
    padding: 10px;
    line-height: 200%;
    text-align: justify;
}

a.items_home {
    font-family: 'Pontano Sans', sans-serif;
    border: solid white 1px;
    font-size: 18px;
}

#section_heading {
    margin: 0;
    width: 100%;
}


/*SLIDE SHOW EFFECTS*/



.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.fa {
    padding: 5px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 1px 1px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin-right: 20px;
}

/* Style for socialmedia icons */

.fa:hover {
    opacity: 0.90;
}

.fa-facebook {
    color: white;
    font-size: 35px;
}

.fa-facebook:hover {
    color: #5b98ff;
}

.fa-twitter {
    color: white;
    font-size: 35px;
}

.fa-twitter:hover {
    color: deepskyblue;
}

.fa-youtube {
    color: white;
    font-size: 35px;
}

.fa-youtube:hover {
    color: red;
}

.fa-instagram {
    color: white;
    font-size: 35px;
}

.fa-instagram:hover {
    color: #ff3e88;
    font-size: 35px;
}

.fa-google {
    color: white;
    font-size: 35px;
}

.fa-google:hover {
    color: #ff4e19;
    font-size: 35px;
}


.btn_page_up{
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.88);
    width: 100%;
    height: 50px;
    padding-bottom: 100px;
    box-shadow: none;
}


#boxes{
    padding-top: 4.5%;
    overflow:auto;
    height: auto;
}

#boxes .box{
    float:left;
    text-align: center;
    width:50%;
    padding:10px;
    box-shadow: 5px 14px 12px 5px rgba(0, 0, 0, 0.15);
}

#boxes .box img{
    width:600px;
}

h1.title_goal{
    color: rgba(122, 122, 122, 0.97);
    font-family: 'impact',sans-serif;
    font-size: 2.5em;
}

#h3-title-item {
   font-family: " source-sans-pro-n6","source-sans-pro",sans-serif;
    font-size: 2.2em;
    text-align:left;
}

#content{
width:80%;
    box-shadow: 5px 14px 32px 5px rgba(0, 0, 0, 0.15);
padding:25px;
}






